@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --font-archivo: "Archivo", sans-serif;
    --font-rozha: "Rozha One", serif;

    --bg-color: #1c1c1c;
    --color: #ffffff;
}
body {
    &.light {
        --bg-color: #ffffff;
        --color: #1c1c1c;
    }
    cursor: none;
    color: var(--color);
    background-color: var(--bg-color);
    font-family: var(--font-rozha);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    .cursor--hover {
        cursor: none;
    }
}

h1,
h2 {
    font-family: var(--font-archivo);
    font-weight: 900;
}
h3,
h4,
h5 {
    font-family: var(--font-rozha);
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}

p {
    font-family: var(--font-archivo);
    font-size: 1rem;
    font-weight: 100;
}
