:root {
    --font-archivo: 'Archivo', sans-serif
    --font-rozha: 'Rozha One', serif
}

html{
    font-family: var(--font-rozha)
}

h1, h2, h3, h4, h5{
    font-family: var(--font-archivo);
    font-weight: 900
}